.container{margin:0 auto;}
body {overflow-x:hidden;}

/*--------------------------------------------------------------------------------------------------*/


/* NAVBAR  */


.navbar {position:fixed; z-index:3000;}
.navbar-inner {
  min-height: 63px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #2d2929;
  background-image: -moz-linear-gradient(top, #2d2929, #2d2929);
  background-image: -ms-linear-gradient(top, #2d2929, #2d2929);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d29293), to(#2d29292));
  background-image: -webkit-linear-gradient(top, #2d2929, #2d2929);
  background-image: -o-linear-gradient(top, #2d2929, #2d2929);
  background-image: linear-gradient(top, #2d2929, #2d2929);  
  background-repeat: repeat-x;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#2d2929', endColorstr='#2d2929', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar .brand {
  display: block;
  float: left;
  padding: 15px 20px 12px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: #999999;
}

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: right;
  margin: 10px 10px 0 0;
}

.navbar .nav > li > a {
  font: 12px 'ExoBold', Arial, sans-serif; 
  text-transform: uppercase;
  letter-spacing: 1px; 
  float: none;
  padding: 9px 10px 23px 11px;
  line-height: 19px;
  color: #d2d2d2;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar .nav > li > a:hover {
  color: #fff;
  text-decoration:none;
  background-color:#2d2929;
  
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #2d2929;
  border-bottom: solid #ff1440 2px;
}

.navbar .btn,
.navbar .btn-group {
  margin-top: 15px;
}
/*--------------------------------------------------------------------------------------------------*/


/* Image styles  */


.mobile-img {margin-top:60px;}


figure {max-width:360px; margin:0px auto ;padding:0px; text-align:center;}

figure img {
	max-width: 100%;
	position: relative;
	z-index: 900;
}

figure a {

	position: relative;
	display: block;
	line-height: 0px;
	text-decoration: none;
}


figure a:hover {
	text-decoration: none;
    
}

figure a:hover img {
	opacity: 0.4; 
	filter: alpha(opacity=40); /* IE6-IE8 */
    
}

figure a:before {
	content: "+";
	display: block;
	font-size: 40px;
	line-height: 1em;
	height: 1em;
	width: 1em;
	text-align: center;
	
	color: #fff;
	font-weight: bold;
	
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
	
	margin: -0.5em 0 0 -0.5em;
}

a.enlarge:before {
	content: "+";
}
#perks figure {margin-bottom:15px;}
#perks figure a:before {color: #ff1440;}


.circle {
	-webkit-border-radius: 20em;
	-moz-border-radius: 20em;
	border-radius: 20em;
	-moz-box-shadow: 0px 2px 3px #d2d2d2;
	-webkit-box-shadow: 0px 2px 3px #d2d2d2;
	box-shadow: 0px 2px 3px #d2d2d2;
    -webkit-transition: opacity .3s ease-in-out;
		-moz-transition: opacity .3s ease-in-out;
		-o-transition: opacity .3s ease-in-out;
		-ms-transition: opacity .3s ease-in-out;	
		transition: opacity .3s ease-in-out;

}




.rounded-corners  {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 2px 3px #242424;
	-webkit-box-shadow: 0px 2px 3px #242424;
	box-shadow: 0px 2px 3px #242424;
	-webkit-transition: opacity .3s ease-in-out;
		-moz-transition: opacity .3s ease-in-out;
		-o-transition: opacity .3s ease-in-out;
		-ms-transition: opacity .3s ease-in-out;	
		transition: opacity .3s ease-in-out;

}

.margin-left {margin-left:60px;}
/*--------------------------------------------------------------------------------------------------*/


/* Button - red version */


.btn-red {
  margin-bottom:0px;	
  background-color: #e4173d;
  *background-color: #e4173d;
  background-image: -ms-linear-gradient(top, #e4173d, #e4173d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e4173d), to(#e4173d));
  background-image: -webkit-linear-gradient(top, #e4173d, #e4173d);
  background-image: -o-linear-gradient(top, #e4173d, #e4173d);
  background-image: -moz-linear-gradient(top, #e4173d, #e4173d);
  background-image: linear-gradient(top, #e4173d, #e4173d);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-red:hover,
.btn-red:active,
.btn-red.active,
.btn-red.disabled,
.btn-red[disabled] {
  background-color: #f15270;
  *background-color: #f15270;
}

.btn-red:active,
.btn-red.active {
  background-color: #942a25 \9;
}

.btn-red,
.btn-red:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-red:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #f15270;
  *background-color: #f15270;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 30px;
  -webkit-transition: background-position 0s linear;
     -moz-transition: background-position 0s linear;
      -ms-transition: background-position 0s linear;
       -o-transition: background-position 0s linear;
          transition: background-position 0s linear;
  }
/*--------------------------------------------------------------------------------------------------*/


/* HOME  */


#home {background-color: #000;  }

.intro {text-align: center; display:block; position:absolute; z-index:100; }
.intro h1{font: 90px 'ExoBlack', Arial, sans-serif; text-transform: uppercase; color: #f4f4f4; margin:30px 0px 0px 0px; display:block; width: 100%;}
.intro p{font: 57px 'JournalRegular', Arial, sans-serif; color:#acacaa;line-height:57px;display:block; width: 100%;} 

.more {background: url(../img/more.png) center no-repeat ;text-align: center; height:70px; padding-top:25px; position:absolute; bottom:0px; margin-bottom:-13px; display:block; z-index:100; }
.more a {font: 35px 'JournalRegular', Arial, sans-serif; color:#ff1440;}
.more a:hover {text-decoration:none; color:#ff728c;}
/*--------------------------------------------------------------------------------------------------*/


/* ABOUT US  */


#about {background-color: #fff; padding-bottom:100px;position:relative; z-index:2000; display:block }
.head1 {background:none; text-align: center; padding:100px 0px 20px 0px; margin-bottom:70px; border-bottom: dashed 1px #e2e2e2; margin-left:20px}
.head1 h2 {font: 100px 'ExoBlack', Arial, sans-serif; text-transform: uppercase; color: #e2e2e2;}

#starlight {padding-bottom:30px; }

#starlight h3 {font: 40px 'ExoThin', Arial, sans-serif; text-transform: uppercase; color: #ff1440;margin-bottom:50px;}


#abouttext h4  {font:35px/35px 'JournalRegular', Arial, sans-serif;color:#7ca5b7; margin-bottom:45px;}

#abouttext p {font-weight:200; color:#a1a1a1;font-size: 13px; line-height:22px; margin-bottom:30px;}


#approach h5 {font: 18px 'ExoRegular', Arial, sans-serif; text-transform: uppercase; color: #7ca5b7;margin-bottom:20px;margin-top:40px;}

#approach p {font-weight:200; color:#a1a1a1;font-size: 13px; line-height:22px; margin-bottom:50px }



#team h3 {font: 40px 'ExoThin', Arial, sans-serif; text-transform: uppercase; color: #ff1440;padding-bottom:50px;}

#team h4 {font: 18px 'ExoRegular', Arial, sans-serif; text-transform: uppercase; color: #7ca5b7;margin-bottom:3px;margin-top:30px; text-align:center;}

#team h5 {font:20px/20px 'JournalRegular', Arial, sans-serif;color:#7ca5b7; margin-bottom:25px;text-align:center;}

#team p {font-weight:200; color:#a1a1a1;font-size: 13px; line-height:22px; margin-bottom:50px; text-align:center;}
/*--------------------------------------------------------------------------------------------------*/


/* SERVICES  */


#services {background: #1d1d1d url(../img/services_bg.jpg) repeat-y center fixed; padding-bottom:50px;}

.head2 {background:none; text-align: center; padding:100px 0px 20px 0px; margin-bottom:70px;border-bottom: dashed 1px #383333;margin-left:20px}
.head2 h2 {font: 100px 'ExoBlack', Arial, sans-serif; text-transform: uppercase; color: #383333;}


#services h3 {font: 40px 'ExoBold', Arial, sans-serif; text-transform: uppercase; color: #ff1440;margin-bottom:50px; text-align:center;}

#services p {font-weight:200; color:#a1a1a1;font-size: 13px; line-height:22px; margin-bottom:20px;}


/* default list style, no icons */
.list {list-style:none;padding:10px 0;margin:0;}
.list li a {color:#ff1440;}
.list li {line-height:32px;width:auto;float:none;color:#777;}

.list.rectangle-red  li {background:url(../img/list-rectangle-red.png) no-repeat center left;padding:0 0 0 15px;}


/* extra bordering for list items */
.list.bordered li {border-bottom:dashed 1px #383333}
.list.bordered li.last-child {border-bottom:0;}
/*--------------------------------------------------------------------------------------------------*/


/* Perks  */


#perks {background-color: #fff; }


#perks h3 {font: 30px 'ExoThin', Arial, sans-serif; text-transform: uppercase; color: #ff1440;}

#perks h4 {font:20px/20px 'JournalRegular', Arial, sans-serif;color:#7ca5b7; margin-bottom:25px;}

#perks p {font-weight:200; color:#a1a1a1;font-size: 13px; line-height:22px; margin-bottom:20px;}

#perks-slider {background:none; height:351px;}
/*--------------------------------------------------------------------------------------------------*/


/* WORK 02  */


#work2 {background-color: #fafafa; padding-top:100px;}

#work2 h3 {font: 30px 'ExoThin', Arial, sans-serif; text-transform: uppercase; color: #ff1440; }

#work2 h4 {font:20px/20px 'JournalRegular', Arial, sans-serif;color:#7ca5b7; margin-bottom:25px;}

#work2 p {font-weight:200; color:#a1a1a1;font-size: 13px; line-height:22px; margin-bottom:20px;}

#work2-slider {background:none;height:351px;}

#work2 figure {margin-bottom:15px;}
#work2 figure a:before {color: #ff1440;}
/*--------------------------------------------------------------------------------------------------*/


/* WORK 03  */


#work3 {background-color: #fff; padding-top:100px; }

#work3 h3 {font: 30px 'ExoThin', Arial, sans-serif; text-transform: uppercase; color: #ff1440;}

#work3 h4 {font:20px/20px 'JournalRegular', Arial, sans-serif;color:#7ca5b7; margin-bottom:25px;}

#work3 p {font-weight:200; color:#a1a1a1;font-size: 13px; line-height:22px; margin-bottom:20px;}

#work3-slider {background:none; height:351px;}

#work3 figure {margin-bottom:15px;}
#work3 figure a:before {color: #ff1440;}
/*--------------------------------------------------------------------------------------------------*/


/* WORK 04  */

#work4 {background-color: #fafafa; padding-top:100px;}

#work4 h3 {font: 30px 'ExoThin', Arial, sans-serif; text-transform: uppercase; color: #ff1440; }

#work4 h4 {font:20px/20px 'JournalRegular', Arial, sans-serif;color:#7ca5b7; margin-bottom:25px;}

#work4 p {font-weight:200; color:#a1a1a1;font-size: 13px; line-height:22px; margin-bottom:20px;}

#work4-slider {background:none;height:351px;}

#work4 figure {margin-bottom:15px;}
#work4 figure a:before {color: #ff1440;}
/*--------------------------------------------------------------------------------------------------*/


/* GALLERY  */

#gallery {background: #1d1d1d url(../img/gallery_bg.jpg) repeat center; padding-bottom:50px;}

.head3 {background:none; text-align: center; padding:100px 0px 20px 0px; margin-bottom:70px;border-bottom: dashed 1px #383333; margin-left:20px}

.head3 h2 {font: 100px 'ExoBlack', Arial, sans-serif; text-transform: uppercase; color: #383333;}

#gallery h3 {font: 30px 'ExoThin', Arial, sans-serif; text-transform: uppercase; color: #ff1440; text-align:center; margin-top:15px;}

#gallery h4 {font:20px/20px 'JournalRegular', Arial, sans-serif;color:#7ca5b7; text-align:center; margin-bottom:50px;}
/*--------------------------------------------------------------------------------------------------*/


/* CONTACT  */

#map {height:300px; width:100%; margin-bottom:80px; position: relative; z-index:2000;}

#form h3 {font: 30px 'ExoThin', Arial, sans-serif; text-transform: uppercase; color: #ff1440; margin-bottom:25px; }

#form p {font-weight:200; color:#a1a1a1;font-size: 13px; line-height:22px; margin-bottom:50px;}

#form fieldset {padding:0; margin-top:40px; margin-bottom:100px;}
#contact-form .field {padding:0 0 10px 0; }
#contact-form .input-text {width:470px;height:38px;border:1px solid #ebebeb;border-top:1px solid #bfbfbf;background:#f5f5f5;padding:0 10px;float:right;font-family:Tahoma, Geneva, sans-serif;font-size:12px;}
#contact-form .input-textarea {width:470px;height:100px;border:1px solid #ebebeb;border-top:1px solid #bfbfbf;background:#f5f5f5;padding:10px;float:right;resize:none;font-family:Tahoma, Geneva, sans-serif;font-size:12px;overflow:hidden;}
#contact-form .input-submit {float:right;cursor:pointer;font-size:12px;}
#contact-form label {width:100px;float:left;line-height:30px;text-align:left; font-weight:400; color:#ff1440;font-size: 13px;}
#contact-form .holder {position:relative;}
#contact-form .message {display:none;position:absolute;top:20px;left:160px;color:#945000;}
#contact-form .message .top {background:url(../img/message-top.png) no-repeat top left;width:428px;height:17px;line-height:0;}
#contact-form .message .contents {background:url(../img/message-content.png) repeat-y;width:428px;padding:5px 0;}
#contact-form .message .bottom {background:url(../img/message-bottom.png) no-repeat top left;width:428px;height:14px;line-height:0;margin-left:-1px;}
#contact-form #alert {padding:0 20px;}
#contact-form #alert ul {padding:10px 0 0 0;}
#contact-form #alert ul li {line-height:18px;}

.list-social {margin-left:0px;}
.list-social li {float:left; padding:0 5px 5px 0; list-style: none; margin:0px}
.list-social li a {background:url(../img/social-icons.png) no-repeat 0 0;height:32px;width:32px;display:block;float:left;}
.list-social li.facebook a {background-position:0 0;}
.list-social li.facebook a:hover {background-position:0 -32px;}
.list-social li.twitter a {background-position:-32px 0;}
.list-social li.twitter a:hover {background-position:-32px -32px;}
.list-social li.forrst a {background-position:-64px 0;}
.list-social li.forrst a:hover {background-position:-64px -32px;}
.list-social li.dribbble a {background-position:-96px 0;}
.list-social li.dribbble a:hover {background-position:-96px -32px;}
.list-social li.rss a {background-position:-128px 0;}
.list-social li.rss a:hover {background-position:-128px -32px;}
/*--------------------------------------------------------------------------------------------------*/


/* FOOTER  */

#footer {background-color: #1d1d1d; }

#footer_bar p {font-weight:200; color:#575757;font-size: 12px; line-height:22px; margin:20px 0px;}